<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from datetime import datetime, timedelta
import pytz
%>
<div>
<div class="instructor-reset-track-container action-type-container">
    <h3 class="hd hd-3">${_('Instructor Resets')}</h3>
    <p></p>
    <div id="instructor-reset-track-table">
        <table>
            <thead>
            <tr>
                <th style="width: 15%;"> ${_("Instructor")} </th>
                <th style="width: 15%;"> ${_("Student")} </th>
                <th> ${_("Problem location")}</th>
                <th style="width: 10%;"> ${_("Action")} </th>
                <th> ${_("Response")} </th>
                <th style="width: 15%;"> ${_("Time")} </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button class="button prev-button disabled">${_("Previous")}</button>
        <button class="button next-button" value="${section_data['instructor_resets_url']}">${_("Next")}</button>
        <div class="table-pages"></div>

    </div>
</div>
</div>

<%block name="header_extras">
<style>
    #instructor-reset-track-table table{
         border: 1px solid black;
         table-layout: fixed;
         width: 100%
    }

    #instructor-reset-track-table td, #instructor-reset-track-table th{
        word-wrap: break-word;
        min-width: 3em;
        border: 1px solid black;
        width: 3em; /* the normal 'fixed' width */
        max-width: 3em;
        padding: 0.2em;
        margin: 1em;
        text-align: center;
        vertical-align: middle;
    }

    #instructor-reset-track-table .table-pages{
        display: block;
        font-size: 1.2em;
        margin:0 auto;
        vertical-align: text-bottom;
        width:100px;
    }

    #instructor-reset-track-table .button{
        float:left;
    }

    #instructor-reset-track-table .next-button{
        float:right;
    }
</style>
</%block>
