## mako

<%namespace name='static' file='../static_content.html'/>

<%page expression_filter="h"/>

<%!
import json
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.core.urlresolvers import reverse

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
%>
<%block name="header_extras">
    <style>
        .suspicious-monitor-board table{
            width: 100%;
            border:1px solid black;
            text-align:center
        }
        .suspicious-monitor-board tr{
            border: 1px solid black
        }
    </style>
</%block>

<section class="suspicious-monitor-board container" id="suspicious-monitor-container">
    <div class="page-content">
        <div>
            ${_("Here you can watch exam attempts that our system have found suspicious")}
            ${_("In the table below you can see exam name, user name and sessions (session key, IP-address) seen for this user during the exam.")}
            <br>
            ${_("Several sessions, especially with different IP-addresses can be the evidence of cheating.")}
            <br>
            ${_("However, be cautious making decisions, because there are cases when different IP-adresses and ")}
            ${_("different session keys are not caused by cheating.")}
        </div>
        <br>
        <form method="POST" id="delete_suspicious_attempt" action=${delete_url}>
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        % if len(proctored_attempts):
        <h4 class="hd hd-4">${_("Proctored suspicious exam attempts")}</h4>
        <table>
            <thead>
                <tr>
                    <th>${_("Username")}</th>
                    <th>${_("Exam name")}</th>
                    <th>${_("Attempt datetime")}</th>
                    <th>${_("Sessions")}</th>
                    <th>${_("Delete")}</th>
                </tr>
            </thead>
            <tbody>
                % for attempt in proctored_attempts:
                    <tr>
                        <td>${attempt["username"]}</td>
                        <td><a href="${attempt["url"]}">${attempt["exam_name"]}</a></td>
                        <td>${attempt["datetime"]}</td>
                        <td>
                            % for session in attempt["sessions"]:
                                ${session}<br>
                            % endfor
                        </td>
                        <td>
                            <input type="submit" name="delete_attempt_${attempt['pk']}" value="delete">
                        </td>
                    </tr>
                % endfor
            </tbody>
        </table>
        <br>
        % endif

        % if len(non_proctored_attempts):
        <h4 class="hd hd-4">${_("Non-proctored suspicious exam attempts")}</h4>
        <table>
            <thead>
                <tr>
                    <th>${_("Username")}</th>
                    <th>${_("Exam name")}</th>
                    <th>${_("Attempt datetime")}</th>
                    <th>${_("Sessions")}</th>
                    <th>${_("Delete")}</th>
                </tr>
            </thead>
            <tbody>
                % for attempt in non_proctored_attempts:
                    <tr>
                        <td>${attempt["username"]}</td>
                        <td><a href="${attempt["url"]}">${attempt["exam_name"]}</a></td>
                        <td>${attempt["datetime"]}</td>
                        <td>
                            % for session in attempt["sessions"]:
                                ${session}<br>
                            % endfor
                        </td>
                        <td>
                            <input type="submit" name="delete_attempt_${attempt['pk']}" value="delete">
                        </td>
                    </tr>
                % endfor
            </tbody>
        </table>
        % endif
        % if (len(proctored_attempts)==0) and (len(non_proctored_attempts)==0):
            <h4 class="hd hd-4">${_("No suspicious exam attempts were detected.")}</h4>
        % endif
        </form>
    </div>
</section>

