<%!
from django.utils.translation import ugettext as _
from util.date_utils import get_time_display
from django.conf import settings
%>
%if format or due is not None:
  <%
    if due is None:
        due_date = ''
    else:
        formatted_string = get_time_display(due, due_date_display_format, coerce_tz=settings.TIME_ZONE_DISPLAYED_FOR_DEADLINES)
        due_date = '' if len(formatted_string)==0 else _('due {date}').format(date=formatted_string)
  %>
  <div class="grading-info vertical-grading-info">${format} ${due_date}</div>
%endif
${block_content}