## mako
<link rel="shortcut icon" type="image/ico" href="http://openprofession.ru/static/img/favicon.png">
<!--
        <link href="https://openprofession.ru/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/catalog.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/flatpage-fix.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/mobile-fix.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/plp.bundle.min.css" ,="" rel="stylesheet">
-->
<header class="header">
  <div class="container">
    <div class="row">
    <div class="row">
      <div class="col-sm-3 col-md-3 logo">
        <a href="https://openprofession.ru" id="logo" class="header__logo">
          <img src="https://openprofession.ru/static/img/logo.svg" alt="" class="logo">
        </a>
      </div>
      <div class="col-sm-5 col-md-6 edx-header-middle">
        <div class="text-white">
          %if course:
           ${course.display_name}
          %endif
        </div>
      </div>
      <div class="col-sm-4 col-md-3 edx-header-right header__login ">


<div class="header-user-ui" id="sb_profile" style="">
  <div class="header-dropdown header-dropdown--js_inited">
    <a class="header-dropdown__button button" href="https://openprofession.ru/my/">
      Личный кабинет
      <span class="icon icon_type_angle-down header-dropdown__icon"></span>
    </a>
  </div>
</div>


      </div>
    </div>
          </div>
    </div>
    </header>
