        <link rel="shortcut icon" type="image/ico" href="http://openprofession.ru/static/img/favicon.png">
<!--
        <link href="https://openprofession.ru/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/catalog.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/flatpage-fix.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/mobile-fix.css" rel="stylesheet">
        <link href="https://openprofession.ru/static/css/plp.bundle.min.css" ,="" rel="stylesheet">
   -->
  
  
  <footer id="footer" class="wrapper footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <a href="https://openprofession.ru" class="footer__logo">
          <img src="/static/img/logo-white.svg" alt="">
        </a>
        <ul class="footer__social">
          <li class="footer__social-item footer__vk">
            <a href="https://vk.com/open_profession" target="_blank"><i class="icon icon_type_vk"></i></a>
          </li>
          <li class="footer__social-item footer__facebook">
            <a href="https://www.facebook.com/openprofession/" target="_blank"><i class="icon icon_type_facebook"></i></a>
          </li>
          <li class="footer__social-item footer__instagram">
            <a href="https://instagram.com/open_profession" target="_blank"><i class="icon icon_type_instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10">
          <style>.prosent {display:none}
.footer__copywriter {display:none}
.footer__navigation-list ul {width:40%}

.footer__navigation-list {
    margin-left: 50px !important;}

.footer__navigation-list li {
    display: block;
    margin-bottom: 6px;}
</style>
<div class="footer__navigation-list">
  <ul>
    <li><a href="/about" class="title">О Проекте</a></li>
    <li><a href="/add" class="title">Разместить свой курс</a></li>
    <li><a href="/jobs" class="title">Вакансии</a></li>


    <!--li><a href="/learning-paths" class="title">Образовательные траектории</a></li-->
    <!--li><a href="/active-group/" class="title">Присоединиться к проекту</a></li-->
    <!--li><a href="/partners">Бизнес-партнеры</a></li-->
    <!--li><a href="/universities">Университеты</a></li-->

  </ul>


  <!--ul>
    <li><a href="http://business.openprofession.ru/?utm_source=op&utm_medium=click&utm_compaign=op&utm_term=footer&utm_content=" target="_blank">Для компаний</a></li>
    <li><a href="http://business.openprofession.ru/?utm_source=op&utm_medium=click&utm_compaign=op&utm_term=footer&utm_content=/" target="_blank">Для образовательных организаций</a></li>
 
   <!--li><a href="/course" class="title">Курсы</a></li>
    <li><a href="">Специализации</a></li>
    <li><a href="https://courses.mipt.ru">Онлайн-магистратура</a></li>
    <li><a href="/spoc">Мини-курсы</a></li>
    <li><a href="/ape">Дополнительное профессиональное образование (ДПО)</a></li-->
  


  <ul>
    <li><a href="/terms">Пользовательское соглашение</a></li>
    <li><a href="/privacy_policy">Политика конфиденциальности</a></li>
    <li><a href="/requirements">Технические требования</a></li>
    <!--li><a href="/payment" class="title">Оплата</a></li>
    <li><a href="/certs">Сертификаты</a></li>
    <li><a href="/professions">Профессии</a></li>
    <li><a href="/employment">Трудоустройство</a></li>
    <li><a href="/confirm_course">Зачет курса в вашем университете</a></li-->
  </ul>
</div>

<!--div class="footer__programs">
  <h3>Избранные программы обучения</h3>
  <div class="footer__programs-item">
    <p>
      <span class="name">Курс:</span>
      <a href="#">Grow to Greatness: Smart Growth for Private Businesses</a>
    </p>
  </div>
  <div class="footer__programs-item">
    <p>
      <span class="name">Специализация:</span>
      <a href="#">Grow to Greatness: Smart Growth for Private Businesses</a>
    </p>
  </div>
  <div class="footer__programs-item">
    <p>
      <span class="name">Мини-курсы:</span>
      <a href="#">Grow to Greatness: Smart Growth for Private Businesses</a>
    </p>
  </div>
</div-->

<div class="footer__contact">
  <h3><a href="/contacts" class="title">Контакты</a></h3>
  <ul class="footer__contact-list">
    <li><a class="css-color" href="/feedback"><img src="/static/img/icons/mail.svg" alt=""> <span>Сообщить о проблеме</span></a></li>
    <!--li><a href="/faq">Часто задаваемые вопросы</a></li-->
    <!--li><a href="/confirm_course">Корпоративным клиентам</a></li-->
  </ul>

</div>


      </div>
      <div class="col-sm-12">
        <p class="footer__copywriter">
            OpenProfession.ru 2018.
        </p>
      </div>
    </div>
  </div>
</footer>

