<%namespace name='static' file='static_content.html'/>
<!DOCTYPE html>
<html>
<head>
  <%block name="title"><title>edX</title></%block>

  <link rel="icon" type="image/x-icon" href="${static.url('images/favicon.ico')}" />

  <%static:css group='application'/>

  <%static:js group='main_vendor'/>
  <%block name="headextra"/>

  <!--[if lt IE 9]>
  <script src="${static.url('js/html5shiv.js')}"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <%static:css group='ie-fixes'/>
  <![endif]-->
  <meta name="path_prefix" content="${MITX_ROOT_URL}">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

  % if not course:
  <%include file="google_analytics.html" />
  % endif

% if settings.SPECIAL_HEADER or settings.SPECIAL_FOOTER:
  <link rel="stylesheet" href="${static.url('css/vendor/su-identity.css')}" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic,400italic,700italic,900italic,' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" />
  <![endif]-->
% endif

</head>

<body class="<%block name='bodyclass'/>">

% if settings.SPECIAL_HEADER:
  <%include file="${settings.SPECIAL_HEADER}.html" />
% endif

% if not suppress_toplevel_navigation:
  <%include file="navigation.html" />
% endif

  <section class="content-wrapper">
    ${self.body()}
    <%block name="bodyextra"/>
  </section>

% if not suppress_toplevel_navigation:
  <%include file="footer.html" />
% endif

% if settings.SPECIAL_FOOTER:
  <%include file="${settings.SPECIAL_FOOTER}.html" />
% endif

  <%static:js group='application'/>
  <%static:js group='module-js'/>

  <%block name="js_extra"/>
</body>
</html>
