<%page expression_filter="h"/>
<%!
    from openedx.core.djangolib.markup import HTML
    from util.date_utils import strftime_localized
    from django.utils.translation import ugettext as _
    data_string = _('due {date}')
%>
%if unit_title:
  <h2 class="hd hd-2 unit-title">${unit_title}</h2>
% endif
% if 'is_graded' in xblock_context and xblock_context['is_graded']:
    <h4 class="hd-8 de-emphasized">${_("This content is graded")}
    % if xblock_context['format']:
        ${_("as ")}<td>${xblock_context['format']}</td><br>
        ${_("weight: ")}${xblock_context['weight']}
    % endif
    </h4>
%endif
% if 'due_date' in xblock_context and xblock_context['due_date']:
    <h4 class="hd-8 de-emphasized"><span class="localized-datetime subtitle-name" data-datetime="${xblock_context['due_date']}" data-string="${data_string}" data-timezone="${user_timezone}" data-language="${user_language}"></span></h4>
% endif

% if show_bookmark_button:
    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif
<div class="vert-mod">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor
</div>
